body {
  background: #141414;
  color: #ffffff;
}

.moviesArea {
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.searchField {
  margin-top: 20px;
  width: 60%;
}
.header-items {
  display: flex;
  justify-content: space-evenly;
  padding: 18px;
}

#add-button {
  padding: 5px;
  border-radius: 5px;
  color: red;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: Black;
  color: white;
}

.nav-links {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
